.icon{
    position:absolute;
    top:170px;
}

@media only screen and (max-width: 1000px){

    .icon{
        position:absolute;
        top:160px;
    }
    .article_img{
        position:relative;
        left:-30px;
    }
}