.icons_bar{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    /* top:200px; */
    /* right:100px;
    top:5830px; */
    padding-right:20px;
}
.icon_fb{
    background:blue;
    width: 30px;
    height:30px;
    color:white;
}
.icon_insta{
    background:rgb(236, 109, 131);
    width: 30px;
    height:30px;
    color:white;
}
.icon_twit{
    background:blue;
    width: 30px;
    height:30px;
    color:white;
}
.icon_youtube{
    background:red;
    width: 30px;
    height:30px;
    color:white;
}
@media only screen and (max-width: 1000px){
    .icons_bar{
        display: flex;
        flex-direction: row;
        position: absolute;
        /* right:100px; */
        /* top:5830px; */
        padding-right:5px;
    }
    .icon_fb{
        background:blue;
        width: 20px;
        height:20px;
        color:white;
    }
    .icon_insta{
        background:rgb(236, 109, 131);
        width: 20px;
        height:20px;
        color:white;
    }
    .icon_twit{
        background:blue;
        width: 20px;
        height:20px;
        color:white;
    }
    .icon_youtube{
        background:red;
        width: 20px;
        height:20px;
        color:white;
    }

}